@import './colors.scss';

#snackbar {
  visibility: hidden;
  background-color: cool-gray(800);
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 8px;
  bottom: 8px;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 8px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 8px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
